.openActivity-page-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    padding: 54px;
}

.openActivity-page-heading1 {
    font-size: 36px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
}

.openActivity-page-heading1{
    animation-name: enter-openActivity-page-heading1;
    animation-duration: 1s;
}

@keyframes enter-openActivity-page-heading1{
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.openActivity-row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.openActivity-row1{
    animation-name: enter-openActivity-row1;
    animation-duration: 1s;
}

@keyframes enter-openActivity-row1{
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.openActivity-box1{
    padding: 0;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.openActivity-box2 img {
    width: 90%;
    height: auto;
    box-shadow: 2px 2px 2px black;
}

.openActivity-row2{
    animation-name: enter-openActivity-row2;
    animation-duration: 1s;
}

@keyframes enter-openActivity-row2{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.openActivity-box4{
    margin-top: 20px;
    text-align: justify;
}

@media only screen and (max-width: 767px) {
    .openActivity-box1, .activity-box2 {
        padding: 3px;
        background-color: transparent;
        border-radius: 10px;
        box-shadow: 0px 0px 0px black;
    }

    .openActivity-page-main{
        padding: 24px;
    }

    .openActivity-page-heading1 {
        font-size: 26px;
        margin-bottom: 30px;
        text-shadow: 2px 2px 2px black;
        text-transform: uppercase;
    }

    .openActivity-box1, .openActivity-box2, .openActivity-box3, .openActivity-box4 {
        width: 100%;
        margin-bottom: 20px;
    }
}
