.addNotification-page-main{
    color: white;
    height: 100vh;
    padding: 54px;
}

.addNotification-form{
    width: 100%;
    color: white;
}

.addNotification-form{
    animation-name: enter-addNotification-form;
    animation-duration: 1s;
}

@keyframes enter-addNotification-form{
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.addNotification-form1{
    padding: 0 7rem 0 7rem;
    color: white;
}

.addNotification-form2{
    height: 150px;
}

.addNotification-form3{
    padding: 4rem;
}

.form-btn{
    padding: 1rem 2rem 1rem 2rem;
}

.previewImg{
    max-width: 100px;
    max-height: 100px;
}

@media (max-width: 779px) {

    .addNotification-page-main{
        padding: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .addNotification-form{
        padding: 0;
        color: white;
        width: 100%;
    }

    .addNotification-form1{
        padding: 0;
        color: white;
    }

    .addNotification-form2{
        height: 150px;
    }

}